<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/form/test" method="POST">
        <label>First name</label>
        <input name="firstname" />
        <label>Last name</label>
        <input name="lastname" />
        <label>email</label>
        <input name="email" />
        <label>password</label>
        <input name="password" />
        <button type="submit">Submit</button>
    </form>
</body>
<% if(users) { %>
<% users.forEach(i => { %>
<a href="/form/<%= i.id %>">First Name : <%= i.fname %> + Last Name : <%= i.lname %> + Email : <%= i.email %> + password
    : <%= i.password %></a>
<button><a href="/form/delete/<%= i.id %>">Delete Button</a></button><br />
<% }) %>
<% } %>

<% if(cookieUser){  %>
<a href="/form/logout">LogOut</a>
<% } %>

<body>
    <form action="/form/login" method="POST">
        <label>email</label>
        <input name="email" />
        <label>password</label>
        <input name="password" />
        <button type="submit">Submit</button>
    </form>
</body>

<script>

</script>

</html>